<!-- Login Form -->

<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Login" [style]="{ width: '400px' }">
    <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="email"
          class="w-full"
          id="email"
          name="email"
          #emailModel="ngModel"
          required
        />
        <small
          class="block p-error"
          *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)"
        >
          <span *ngIf="emailModel.errors?.['required']">Email is required</span>
        </small>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <p-password
          [(ngModel)]="password"
          [feedback]="false"
          [toggleMask]="true"
          inputId="password"
          name="password"
          #passwordModel="ngModel"
          inputStyleClass="w-full"
          styleClass="w-full"
          required
        ></p-password>
        <small
          class="block p-error"
          *ngIf="
            passwordModel.invalid &&
            (passwordModel.dirty || passwordModel.touched)
          "
        >
          Password is required
        </small>
      </div>
      <p-button
        label="SIGN IN"
        styleClass="w-full"
        [disabled]="signInForm.invalid"
        type="submit"
      ></p-button>
      <div class="mt-2">Not a member? <a routerLink="/signup">Register</a></div>
      <div class="mt-2">
        Forgot your password?
        <a routerLink="/forgot-password">Reset Password</a>
      </div>
    </form>
  </p-card>
</div>
